<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
    <meta name="author" content="anusuya roy choudhury">
	<title>Anusuya Roy Choudhury</title>
	<link rel="stylesheet" href="font-awesome-4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />
    <link rel="stylesheet" type="text/css" href="css/buttons.css">
</head>

<body ng-app="myApp">

<!-- ********************************************************************************************************
	********* NAV BAR 
	****************************************************************************************************** -->

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    	<a class="navbar-brand nav-name" href="#"><h4>Anusuya Choudhury</h4></a>
    	
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse " id="bs-example-navbar-collapse-1" aria-expaded="false">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">HOME </a></li>
        <li><a style="color:white" href="#" data-toggle="modal" data-target="#contactModal">CONTACT</a></li>
   	 </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div>



<!-- ********************************************************************************************************
	********* HEADER (NAME, TITLE, DESCRIPTION)
	****************************************************************************************************** -->

<header>
	<div class="jumbotron">
		<div id="jumb">
			 <h1 id="myname">Anusuya Choudhury</h1> 
			 <h2 id="myrole"> Front End/UI Developer</h2>
			 <p id="mydesc"> I design and develop front end for software.</p>
		</div>
	</div>
</header>

<!-- ********************************************************************************************************
	 ******************* BODY (DEVELOPMENT and DESIGN PROJECTS) *********************************************
	 ******************************************************************************************************** -->

<div class="container" id="bigdiv" ng-controller="MainController">
	<div class="row home-body">
		<div class="col-lg-12">

		<!-- ********************************************************************************************************
		********* DEVELOPMENT PROJECTS
		****************************************************************************************************** -->

		<section class="dev">
			<!-- Development -->
			<div class="row"> <!--entire development section includes picture and content-->
				<div class="row">
					<div class="col-lg-12">
						<h1 class="text-center">DEVELOPMENT</h1>
					</div>
				</div>

				<!--Psychotherapy Website-->
				<div class="row row-dev">
					<div class="col-lg-8 text-center">
						<img src="img/psychotherapy-website.jpg" class="img-thumbnail img-responsive">
					</div>
					<div class="col-lg-4 text-center">
						<div class="content" style="margin-top:30px;">
							<div class="row title text-center " style=" margin: 0 auto">
								<h3 style=" padding-left:12px; margin-top:0px;">Psychotherapy Website</h3>
							</div>
							<div class="row" style="padding-top:20px; line-height:2">
								<p class="meetup-git" style="font-size:18px;"> Melissa wanted a psychotherapy website for her private practice and many of her other services she offers. Her main requirements were that it would be simple, professional and easy to navigate. I created this responsive website using the Bootstrap framework coupled with Cushycms for a lightweight content management system.</br> View live at: <a href="http://www.melissapirwani.com" style="text-decoration:none; color:#F95A61" target="_blank">www.melissapirwani.com </a> <br/><br/> 	
								<b style="font-size:17px;">Roles: Design, Development, Graphics</b><br/><br/>
								<b style="font-size:17px; display:none" class="text-left">Tools used: Bootstrap</b></p>
								
							</div>
						</div>
					</div>
				</div> <!--End of Psychothrapy Website-->
				

				<!--TUMBLR DEV section -->
				<div class="row row-dev">
					<div class="col-lg-8 text-center" style="float:right; max-width:100%">
						<img src="img/tumblr-theme2.png" class="img-thumbnail img-responsive">
					</div>
					<div class="col-lg-4 text-center" style="float:left">
						<div class="content" style="margin-top:30px;">
							<div class="row title text-center" style=" width:217px; margin: 0 auto">
								<i class="fa fa-tumblr-square fa-2x" style="float:left; padding:0"></i>
								<h3 style="float:left; padding-left:12px; margin-top:0px;">Tumblr Theme</h3>
							</div>
							<div class="row" style="padding-top:20px; line-height:2;">
							<p id="thisis" class="tumblr-git" style="font-size:18px"> Tumblr theme development in progress. All colors, fonts, backgrounds customizable. Code is open source.<br/> Code so far <a href="https://github.com/arc6789/my-theme" style="text-decoration:none; color:#f25ea8"target="_blank"><i class="fa fa-github-alt fa-1x"></i> </a> <br/>Updates available soon...<br/><br/>
								<b style="font-size:17px;">Roles: Design and Development</b><br/><br/>
								<b style="font-size:17px;" class="text-left">Tools: Tumblr development platform</b></p>
							</div>
						</div> 
					</div>
				</div> <!-- END of Tumblr DEV section-->
				
				
				<!--Maps for meetup section-->
				<div class="row row-dev">
					<div class="col-lg-8 text-center">
						<img src="img/map.jpg" class="img-thumbnail img-responsive">
					</div>
					<div class="col-lg-4 text-center">
						<div class="content" style="margin-top:30px;">
							<div class="row title" style=" width:235px; margin: 0 auto">
								<i class="fa fa-map-marker fa-2x" style="float:left; padding:0"></i> 
								<h3 style="float:left; padding-left:12px; margin-top:0px;">Maps for Meetup</h3>
							</div>
							<div class="row" style="padding-top:20px; line-height:2">
								<p class="meetup-git" style="font-size:18px;"> This project maps the location of upcoming events for any particular Meetup group on a Mapbox map. Additionally also provides certain information like name, address, date and time of each event. The idea is to integrate this project into Girl Develop It - San Jose Chapter's website as well as to develop a widget that can be embeded for any website of any Meetup group.<br/> <a href="gdi-maps/index.html"> View Live </a>|<a href="https://github.com/arc6789/GDI-Maps" style="color:#F95A61" target="_blank"> View Code <i class="fa fa-github-alt fa-1x"></i> </a><br/> <br/> 
								<b style="font-size:17px;">Roles: Design and Development</b><br/><br/>
								<b style="font-size:17px;" class="text-left">Tools used: Meetup's RESTful Api, Mapbox.js, CartoCSS (to stylize map), Bootstrap framework, GeoJSON</b></p>
								
							</div>
						</div>
					</div>
				</div> <!--End of Maps for Meetup section-->


				<!--HYBRID POINT UI section-->
				<div class="row row-dev">
					<div class="col-lg-8 text-center" style="float:right; max-width:100%">
						<img src="img/hybridmap.png" class="img-thumbnail img-responsive">
					</div>
					<div class="col-lg-4 text-center" style="float:left">
						<div class="content" style="margin-top:30px;">
							<div class="row title" style=" width:220px; margin: 0 auto">
								<i class="fa fa-location-arrow fa-2x" style="float:left; padding:0"></i>
								<h3 style="float:left; padding-left:13px; margin-top:0px;">Hybrid Point UI</h3>
							</div>
							<div class="row" style="padding-top:20px; line-height:2">
								<p id="thisis" style="font-size:18px"> This UI was inspired by some of the projects I had worked on during a previous internship at a company that makes software for location and tracking. Hybrid Point Map is a web application that is a work in progress using Google Maps API. <br><a href="hybrid-point-map/index.html" style="color:#7F9D21; display:none"> View Live | </a><a href="https://github.com/arc6789/arc6789.github.io/tree/master/hybrid-point-map" style="text-decoration:none" target="_blank"> View Code <i class="fa fa-github-alt fa-1x"></i> </a> <br/><br/>
									<b style="font-size:17px;">Roles: Design and Development</b><br/><br/>
								<b style="font-size:17px;" class="text-left">Tools used: Google Maps API</b></p>
							</div>
						</div>
					</div>
				</div> <!--END of HYBRID POINT UI section -->

			</div> <!--entire devlopment section ends-->
		</section> <!--entire devlopment section ends-->


<!-- ********************************************************************************************************
		********* DESIGN PROJECTS ANGULAR ---- THIS
		****************************************************************************************************** -->

		<!---Design Section-->
		<section class="des">
			<div class="row desc-header">
				<!--DESIGN HEADER AREA!-->
				<h1 class="text-center">DESIGN</h1>
				<p class="text-center">I usually do alot of my own design work especially for all my personal projects. They range from prototyping wireframes to designing mockups to creating graphic icons. I love the design process just as much as my development process. Usual go to tools are almost always Photoshop or Illustrator or sometimes just pencil and paper. Click below to expand some of these designs.<br/><br/></p>
			</div>

			<div class="row">
				<!--Column for GDI FLAT ICONS-->
				<div class="col-md-4 text-center des-column {{designs.imgClass}}" ng-repeat="designs in design">
					<div class="inner">
						<a href="#" data-toggle="modal" data-target="{{designs.modalTarget}}">
						<div class="des-hov">
							<img ng-src="{{designs.image}}" class="img-responsive">
						</div>
						</a>
						<div class="img-caption">
					  		<h4 class="text-center">{{designs.title}}</h4> 
					 	 	<p>{{designs.description}}</p> 
						</div>
					</div>					
				</div> <!--END of GDI FLAT ICONS COLUMN-->
			</div>
		</section>


<!-- ********************************************************************************************************
	********* MODALS (FLAT ICON, LOGO, HYBRID POINT UI, CONTACT)  -- THIS ANGULAR
	****************************************************************************************************** -->


	<!--DESIGN MODALS-->
	<div class="modal fade design-modal {{modals.modalSectionClass}}" id="{{modals.thisId}}" ng-repeat="modals in modal" role="dialog">
	 	<div class="modal-content">
			<div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h1 class="modal-title text-center">{{modals.headerTitle}}</h1>
	        </div>
			<div class="container">
	        	<div class="row">
	        		<div class="{{modals.imageDivCol}}"> <!--this-->
	        			<div class="modal-body">
	          				<img ng-src="{{modals.image}}" class="{{modals.imgBootClass}}">
	        			</div> <!-- to this-->

	    			</div>
				</div>
				<div class="row desc">
	        		<div class="col-lg-10 col-lg-offset-1">
	        			<h3>{{modals.descTitle}}</h3>
				        <p>{{modals.description}}</p> <p><b><i>{{modals.tools}}</i></b></p> 

	        		</div>
	    		</div>
			</div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        </div>
	  	</div>
	</div> <!-- END OF DESIGN MODAL -->


	<!-- Contact Modal -->
	<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-md">
	    <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title text-center" id="myModalLabel">Contact Me</h3>
			</div>
			<div class="modal-body">
				<div id="text">
			    	<p> The best way to contact me is to email me at <a href="mailto:anusuyarc89@gmail.com">anusuyarc89@gmail.com</a></p><br/>
			    	<p> But you can also reach me at my following sites:</p>
				</div>
				<div id="contact-icons">
					<a href="https://www.linkedin.com/in/anusuyaroychoudhury" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
					<a href="https://github.com/arc6789" target="_blank"><i class="fa fa-github fa-2x"></i></a>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn" data-dismiss="modal">Close</button>
			</div>			
	    </div>
	  </div>
	</div> <!--Contact Modal Ends--> 

</div>
</div>
</div>

<!-- ********************************************************************************************************
	********* FOOTER AREA (Theme Description, Social Icons)
	****************************************************************************************************** -->


<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7" >
                <p>&copy; Anusuya Choudhury 2015. All Rights Resereved</p>
                <p>This website has been built from ground up with the help of Angular and Bootstrap. Fonts have been provided by Google's Font API and icons by Font Awesome. Last some jQuery magic has been added to the recipe. My codebase for this website can be found <a href="https://github.com/arc6789/arc6789.github.io">here.</a></p>
			</div>
			<div class="col-lg-5 footer-contact">
				<a href="https://www.linkedin.com/in/anusuyaroychoudhury" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
				<a href="https://github.com/arc6789" target="_blank"><i class="fa fa-github fa-2x"></i></a>
			</div>
        </div>
    </div>
</footer>


<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>
<script type="text/javascript" src="js/meetup-map.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/MainController.js"></script>
<script type="text/javascript">
	 $(document).ready(function () {
        $(".navbar-nav li.trigger-collapse a").click(function(event) {
          $(".navbar-collapse").collapse('hide');
        });
      });
</script>
</body>
</html>


